node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# iOS
ios/App/Pods
ios/App/Podfile.lock
ios/App/App.xcworkspace/xcuserdata
ios/App/App.xcodeproj/xcuserdata
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata
*.xcuserstate
*.xcworkspace
!ios/App/App.xcworkspace
DerivedData